<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST heroku + github + node + express</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/main.css">
    <style>
        body { padding-top:50px; }
    </style>
    
    <script src="./node_modules/web3/dist/web3.min.js"></script>

</head>
<body>

    <div class="container">
        <div class="jumbotron">
            
            <h1>Example1 Instructor</h1>

        <h2 id="instructor"></h2>
        <h3 id="address"></h3>

        <label for="name" class="col-lg-2 control-label">Instructor Name</label>
        <input id="name" type="text">

        <label for="age" class="col-lg-2 control-label">Instructor Age</label>
        <input id="age" type="text">
        
       <button id="button">Update Instructor</button>
 

        </div>
    </div>

</body>
</html>
