<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST heroku + github + node + express</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Test Heroku 1!</h1>
            <p>questo è un test per provare il funzionamento di una Node app in remoto</p>
            <p>la app è ststa realizzata interamente in remoto su Github e sincronizzata con Heroku</p>
            <p>i moduli npm usati (dependencies) sono express, ejs e path</p>
        </div>
    </div>

</body>
</html>
